.pic_t {
  margin-left: 10%;
}
.pic1 {
  width: 90%;
  height: 30%;
  margin-top: 2%;
}
.t1 {
  font-family: none;
  text-align: left;
  margin-right: 8%;
  font-size: 23px;
}
.t2 {
  text-align: center;
}
.space {
  width: 15%;
  border-radius: 5px;
}
.spcaing2 {
  text-indent: 15px;
}
.space1 {
  margin-right: 3%;
  padding: 5%;
}
.RN {
  font-family: system-ui;
  font-size: xxx-large;
}
.flex {
  display: flex;
  float: right;
  margin-left: 9%;
  margin-right: 5%;
}
.ccs2 {
  margin-right: 8%;
}
/* .btn {
  border-radius: 15%;
  width: 17%;
} */
.btnbtnbtn {
  border-radius: 17px;
  width: 13%;
  /* margin-right: 4%; */
}
.ccc {
  color: dodgerblue;
}
.ene {
  font-size: xx-larger;
}
.epc {
  font-weight: bolder;
}
.cdcc {
  margin-left: 10px;
}
.floating {
  margin-left: 40px;
}
.floating2 {
  margin-right: 0px;
  font-family: emoji;
  font-size: medium;
}
.flo {
  text-indent: 15px;
}
.cdcc {
  font-size: small;
}
.btnbtnbtn {
  padding-bottom: 10px;
}
